.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt
celerybeat-schedule
*.so
*.egg-info/
dist/
build/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/

Dockerfile
docker-compose.yaml
.dockerignore

*.log
*.pot
*.pot~
*.mo
db.sqlite3
local_settings.py